doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		block title
			title 
		block headLinks
			link(rel='icon', type='image/x-icon', href='./img/favicon.ico')
			link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
		block headStyles
			link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
			link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
			link(rel='stylesheet', href='./css/style.css')
	body
		.container-wrapper
			.container
				header.header
					.row
						.col-md-8.col-sm-7
							.logo-header
								a.logo-header-link(href='/', title='На Главную')
									img.img-responsive.img-logo-header(src='img/modul_energo_logo.png')
						.col-md-4.col-sm-5
							.contacts-block
								.logo-modul
									a(href='http://стк-модуль.рф/')
										img.img-responsive.img-modul(src='/img/stk_modul.png')
								ul.list-unstyled.contacts
									li
										a.contacts-link(href='tel:+7(812)6700741')
											i.fa.fa-phone
											|  +7 (812) 670-07-41
									li
										a.contacts-link(href='mailto:info@stkm-energo.ru')
											i.fa.fa-envelope
											|  info@stkm-energo.ru
				a.button-nav.btn.btn-navbar.visible-xs(data-toggle='collapse', data-target='.navbar-collapse')
					i.fa.fa-bars   МЕНЮ
				nav.custom-nav.navbar-static-top.navbar-collapse.collapse
					ul.nav.nav-justified.custom-nav-list
						li
							a(href='/about.html') О компании
						li
							a(href='/services.html') Услуги
						li
							a(href='/certificates.html') Сертификаты
						li
							a(href='/objects.html') Объекты
						li
							a(href='/partners.html') Партнеры
						li
							a(href='/contacts.html') Контакты
				block content
		footer.footer-content
			.container
				.row
					.col-sm-3
						a(href='index.html', title='На Главную')
							img.img-responsive.footer-logo(src='img/footer-logo1.png')
					.col-sm-9
						.footer-navbar
							ul.footer-navbar.list-unstyled
								li
									a.footer-navbar-links(href='/about.html') О компании
								li
									a.footer-navbar-links(href='/services.html') Услуги
								li
									a.footer-navbar-links(href='/certificates.html') Сертификаты
								li
									a.footer-navbar-links(href='/objects.html') Объекты
								li
									a.footer-navbar-links(href='/partners.html') Партнеры
								li
									a.footer-navbar-links(href='/contacts.html') Контакты
						.copyright
							p
								span.backlink
									| Делаем сложные магазины. 
									a(href=' https://fidals.com/pages/projects.html?utm_source=stkm-energo_site&utm_medium=backlink&utm_campaign=backlink_traffic' target='_blank') Fidals.com
								br
								| Copyright © 2016 ООО "СТК-МОДУЛЬ" (Санкт-Петербург)
		block script
			script(src='https://code.jquery.com/jquery-2.2.0.min.js')
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
