extend _template

block title
	title О компании
block content
	.content
		h1 О компании
		img.img-responsive.img-page(src='./img/spline_lep.png')
		p.
			Ведем проект от начала и до завершения: планируем, строим и выполняем пусконаладочные работы. 
		p Доступен заказ отдельных услуг:
		ul.content-list
			li
				|организация строительства, реконструкция, капитальный ремонт на основании договора подряда;
			li геодезический анализ рельефа местности;
			li разрабатываем грунт, перемещаем, укладываем и уплотняем его;
			li оформление проектной документации;
			li строительство и монтаж сетей электроснабжения 0,4 – 35 кВ;
			li прокладка КЛ-0,4-10кВ;
			li установка опор ЛЭП;
			li лабораторные испытания оборудования.
		p.text-center
			i
				| Подробнее в разделе 
				a(href='/services.html') ”Услуги”.