extend template

block title
	title О компании
block content
	.content 
		h1 О компании
		img.img-responsive.img-page(src='./img/spline_lep.png')
		p
			| Компания “Модуль-Энерго” работает сразу в нескольких направлениях. Это позволяет нашим партнерам решать сразу спектр задач в энергетики. Среди работ, которые выполняют наши сотрудники, выделим:
		ul.content-list
			li
				| организация строительства, реконструкции и капитального ремонта, на основании договора с застройщиком или заказчиком (функции генподрядчика);
			li геодезические работы;
			li подготовительные работы на строительных площадках;
			li земляные работы;
			li подготовка и согласование проектной документации;
			li строительство и монтаж сетей электроснабжения 0,4 – 35 кВ;
			li прокладка КЛ-0,4-10кВ;
			li установка опор ЛЭП;
			li лабораторные испытания.
		p
			| С остальными направлениями деятельности можно ознакомиться 
			| в разделе 
			a(href='services.html') ”Услуги”.