extend _template

block title
	title СТКМ-Энерго

block content
	.content
		img.img-responsive.img-lap(src='img/random.jpg')
		.index
			p
				| Проектируем, строим, монтируем и вводим в эксплуатацию энергообъекты в Санкт-Петербурге.
			ul.list-unstyled
				| Качество работы и выполнение проектов в срок подтвердят наши клиенты:
				li
					i.fa.fa-check
					|		ООО “Вэст”, ЗАО «Институт«Стройпроект», ОАО «Ленэнерго» и 
					a(href='partners.html') другие.
			p
			i
				| Сотрудники “Модуль-Энерго” имеют высшее/средне-профессиональное образование и допуски.

