extend _template

block title
	title СТКМ-Энерго

block content
	.content
		img.img-responsive.img-lap(src='img/random.jpg')
		.col-md-6
			p
				| Компания “Модуль-Энерго” базируется в Санкт-Петербурге. Является частью группы компаний “СТК- Модуль”. Направления работы: проектирование, строительство энергообъектов, электромонтаж и пусконаладочные работы.
			p
				| Сотрудники компании имеют достаточный опыт. Также они следят за новыми методиками работы, поэтому к качеству работы и срокам не возникает претензий у заказчиков.
		.col-md-6.home-list-block
			ul.home-list
				li
					| Закажите у нас проектирование систем электроснабжения и распределительных устройств, электромонтажные работы и 
					a(href='services.html') другие услуги.
				li
					| Наши клиенты: ООО “Вэст”, ЗАО «Институт«Стройпроект», ОАО «Ленэнерго» и 
					a(href='partners.html') другие.
				li
					| У нас есть все необходимые для работы 
					a(href='certificates.html') документы.

