extend template

block title
	title Выполненные работы

block content
	.content
		h1 Выполненные работы
		p
			| В работе используем прогрессивные методики и современное оборудование. Мы следим за развитием отрасли и применяем последние наработки на наших объектах.
		.objects-preview
			.row
				.col-sm-6.objects-preview-img
					img.img-responsive.objects-img(src='img/objects/3.jpg', alt='Геодезические работы')
					.img-caption Геодезические работы
				.col-sm-6.objects-preview-img
					img.img-responsive.objects-img(src='img/objects/1.jpg', alt='Земляные работы')
					.img-caption Земляные работы
				.col-sm-6.objects-preview-img
					img.img-responsive.objects-img(src='img/objects/2.jpg', alt='Строительство сетей электроснабжения')
					.img-caption Строительство сетей электроснабжения
				.col-sm-6.objects-preview-img
					img.img-responsive.objects-img(src='img/objects/4.jpg', alt='Установка опор ЛЭП')
					.img-caption Установка опор ЛЭП