extend _template

block title
	title Услуги

block content
	.content
		h1 Услуги
		p Мы умеем 
			strong проектировать, строить, монтировать 
			| электроснабжение и наружное освещение населенных пунктов, развязок на дорогах, мостов, внутренних сетей промышленных предприятий.
		p Направления работы:
		ul.content-list
			li подготовка и согласование проектной документации;
			li строительство и монтаж сетей электроснабжения 0,4 – 35 кВ;
			li строительство линий электроосвещения;
			li монтаж и пуско-наладка электротехнических установок;
			li прокладка КЛ-0,4-10кВ;
			li строительство и монтаж МТП, СТП, КТП, БКТП, БРТП;
			li строительство ТП, РТП 6(10)/0,4 кВ;
			li установка опор ЛЭП;
			li лабораторные испытания.
		p
			strong В электротехнической лаборатории 
			| замеряем, испытываем и налаживаем действующее и новое оборудование:
		ul.content-list
			li измеряем сопротивления изоляции;
			li измеряем сопротивления заземляющих устройств;
			li проверяем непрерывность защитных проводников;
			li проверяем цепь «фаза-ноль»;
			li проверяем работы УЗО;
			li проверяем срабатывания автоматических выключателей и устройств релейной защиты;
			li измеряем освещенность;
			li высоковольтные испытания оборудования подстанций 6(10) кВ
			li определяем места повреждения кабельных линий 0,4-6(10) кВ.
		p.text-center
			i
				| Стоимость и сроки реализации уточняйте у менеджеров по телефону 
			a(href='tel:+7(812)6700741')
				strong +7 (812) 670-07-41
			i
				|  или электронной почте - 
			a(href='mailto:info@stkm-energo.ru')
				strong info@stkm-energo.ru
	
