block vars
  - var mainEmail = "info@stroysila.biz";
  - var phoneNumber = "8-812-409-98-06";
  - var phoneLink = "88124099806";

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block title
      title

    block headLinks
      link(rel='icon', type='image/x-icon', href='./img/favicon.ico')
      link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic', rel='stylesheet')

    block headStyles
      link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
      link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
      link(href='./css/styles.min.css', rel='stylesheet')

  body
    .content-wrapper
      header.header
        .container
          .row
            .col-md-8.col-sm-7
              .logo-header
                a.logo-header-link(href='/', title='На Главную')
                  img.img-responsive.img-logo-header(src='img/modul_energo_logo.png')

            .col-md-4.col-sm-5
              .contacts-block
                ul.list-unstyled.contacts
                  li
                    a.contacts-link(href='tel:#{phoneLink}')
                      i.fa.fa-phone
                      |  #{phoneNumber}
                  li
                    a.contacts-link(href='mailto:#{mainEmail}')
                      i.fa.fa-envelope
                      |  #{mainEmail}

      a.button-nav.btn.btn-navbar.visible-xs(data-toggle='collapse', data-target='.navbar-collapse')
        i.fa.fa-bars   МЕНЮ

      nav.custom-nav.navbar-static-top.navbar-collapse.collapse
        .container
          ul.nav.nav-justified.custom-nav-list
            li
              a(href='/about.html') О компании
            li
              a(href='/services.html') Услуги
            li
              a(href='/partners.html') Партнеры
            li
              a(href='/certificates.html') Сертификаты
            li
              a(href='/contacts.html') Контакты

      .container
        block content

    footer.footer-content
      .container
        .row
          .col-sm-3
            a(href='/', title='На Главную')
              img.img-responsive.footer-logo(src='img/footer-logo1.png')
          .col-sm-9
            .footer-navbar
              ul.footer-navbar.list-unstyled
                li
                  a.footer-navbar-links(href='/about.html') О компании
                li
                  a.footer-navbar-links(href='/services.html') Услуги
                li
                  a.footer-navbar-links(href='/partners.html') Партнеры
                li
                  a.footer-navbar-links(href='/certificates.html') Сертификаты
                li
                  a.footer-navbar-links(href='/contacts.html') Контакты

    block script
      script(src='https://code.jquery.com/jquery-2.2.0.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')

      // Yandex.Metrika counter
      script.
        (function(d, w, c) {
          (w[c] = w[c] || []).push(function() {
            try {
              w.yaCounter37541565 = new Ya.Metrika({
                id: 37541565,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
              });
            } catch (e) {
            }
          });
          var n = d.getElementsByTagName("script")[0],
                  s = d.createElement("script"),
                  f = function() {
                    n.parentNode.insertBefore(s, n);
                  };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";
          if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
          } else {
            f();
          }
        })(document, window, "yandex_metrika_callbacks");
      noscript
        div
          img(src='https://mc.yandex.ru/watch/37541565', style='position:absolute; left:-9999px;', alt='')

      // Yandex.Metrika counter
      script.
        (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                  }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-78240434-1', 'auto');
        ga('send', 'pageview');
