extend _template

block title
  title О компании

block content
  .content
    h1 О компании

    img.img-responsive.img-page(src='./img/spline_lep.png')
    p
      | Занимаемся электроснабжением и электроосвещением жилых и промышленных объектов. Специализируемся на
      | производстве унифицированных металлических опор ЛЭП и прокладке кабельных линий электропередач. Возьмемся за
      | “сырой проект”: проведем геодезические и земляные работы, построим сети электроснабжения и установим опоры.

    p
      | Выполняем полный цикл услуг: проектируем, выпускаем, собираем, вводим в эксплуатацию. Или реализуем один из
      | перечисленных этапов.

    p
      | Выезжаем на проект, консультируем, составляем техническое задание и коммерческое предложение (цена работы и
      | сроки выполнения).

    p.text-center
      i
        | Подробнее в разделе
        a(href='/services.html')  ”Услуги”.
