extend _template

block title
  title О компании

block content
  .content
    h1 О компании

    img.img-responsive.img-page(src='./img/lep.png')

    p
      | ООО «СтройСила» - динамично развивающаяся строительно-монтажная компания, специализирующаяся на
      | проектировании и строительстве объектов энергетики, подстанций, воздушных и кабельных линий электропередачи
      | напряжением 0,4-6(10), 35-110кВ.

    p
      | Компания ООО «СтройСила» является надежным Подрядчиком на рынке строительно-монтажных работ в
      | Санкт-Петербурге и Ленинградской области и создает объекты «под ключ», предполагая выполнение полного
      | комплекса работ:

    ul.content-list
      li инженерные изыскания;
      li проектирование;
      li составление сметной документации;
      li согласования;
      li электромонтажные работы;
      li пусконаладочные работы;
      li сдача объекта в эксплуатацию.

    p
      | ООО «СтройСила» располагает парком строительных машин и спецтехники, что позволяет производить комплекс работ
      | собственными силами.

    p
      | Наша компания - это высокий уровень организационной работы, проводимой управленческим и инженерно-техническим
      | составом, позволяющий решать задачи любой сложности.

    p
      | Сотрудничество с нами дает Заказчику уверенность в том, что все работы выполняются квалифицированными
      | специалистами, качественно и в поставленные сроки.

