extend _template

block title
  title Сертификаты

block content
  .content
    h1 Сертификаты

    p
      | У нас есть все документы для работы.

    p
      a.download-doc(href='documents/sertificates.zip', download='')
        i.fa.fa-download
        |  Скачать архив документов
