extend _template

block title
  title Сертификаты

block content
  .content
    h1 Сертификаты

    p
      | ООО «СтройСила» имеет все необходимые разрешения, сертификаты, допуски и свидетельства на производство
      | проектных и строительно-монтажных работ.

    p
      a.download-doc(href='documents/sertificates.zip', download='')
        i.fa.fa-download
        |  Скачать архив документов
