extend _template

block title
  title Контакты

block content
  .content
    h1 Контакты

    p
      | Телефон: 8-812-409-98-06

    p
      | Почта:
      a(href='mailto:#{mainEmail}')
        |  #{mainEmail}

    p Санкт-Петербург, Пискаревский проспект 63, литера Б, БЦ "Виадук-П", офис 2-306

    .ya-map
      script(src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=a3B3pWYS4q62Yq0g49PgFy9lX5qBUIhQ&amp;' +
                 'width=100%&amp;scroll=true', charset='utf-8', async)

    h2 Склад

    p Заневское городское поселение Всеволожский район, Ленинградская область

    .ya-map
      script(src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=bU2nmwaTxOD5lekUGHVtfTLEeJACjM4z&amp;' +
                 'width=100%&amp;scroll=true', charset='utf-8', async)
