extend _template

block title
  title СтройСила

block content
  .content
    img.img-responsive.img-lap(src='img/banner.jpg')
    .index
      p
        | ООО «СтройСила» - динамично развивающаяся строительно-монтажная компания, специализирующаяся на
        | проектировании и строительстве объектов энергетики, подстанций, воздушных и кабельных линий электропередачи
        | напряжением 0,4-6(10), 35-110кВ.
