extend _template

block title
  title Наши партнеры

block content
  .content
    h1 Наши партнеры

    .partners
      .partners-item
        .row
          .col-sm-5
            .partners-logo.partners-logo-blue
              a(href='http://www.lenenergo.ru/', target='_blank')
                img.img-responsive.partners-img(src='img/logo-lenenergo.png')
          .col-sm-7.partners-caption
            | ПАО «Ленэнерго»
            br
            a(href='http://www.lenenergo.ru/', target='_blank') www.lenenergo.ru

      .partners-item
        .row
          .col-sm-5
            .partners-logo
              a(href='http://www.stpr.ru/', target='_blank')
                img.img-responsive.partners-img(src='img/logo-stpr.png')
          .col-sm-7.partners-caption
            | ЗАО «Институт «СтройПроект»
            br
            a(href='http://www.stpr.ru/', target='_blank') www.stpr.ru

      .partners-item
        .row
          .col-sm-5
            .partners-logo
              a(href='http://www.rso-e.ru', target='_blank')
                img.img-responsive.partners-img(src='img/logo-rso.png')
          .col-sm-7.partners-caption
            | ООО «РСО-Энерго»
            br
            a(href='http://www.rso-e.ru/', target='_blank') www.rso-e.ru

      .partners-item
        .row
          .col-sm-5
            .partners-logo.partners-logo-blue
              a(href='http://www.reszao.ru', target='_blank')
                img.img-responsive.partners-img(src='img/logo-res.png')
          .col-sm-7.partners-caption
            | ООО «Региональные электрические сети»
            br
            a(href='http://www.reszao.ru', target='_blank') www.reszao.ru

      .partners-item
        .row
          .col-sm-5
            .partners-logo
              a(href='http://www.epegroup.ru', target='_blank')
                img.img-responsive.partners-img(src='img/logo-epe.png')
          .col-sm-7.partners-caption
            | ЗАО «ЭнергоПроект-Инжиниринг»
            br
            a(href='http://www.epegroup.ru', target='_blank') www.epegroup.ru

      .partners-item
        .row
          .col-sm-5
            .partners-logo
              a(href='http://www.lenspecsmu.ru', target='_blank')
                img.img-responsive.partners-img(src='img/logo-lenspecsmu.png')
          .col-sm-7.partners-caption
            | ЛенСпецСМУ
            br
            a(href='http://www.lenspecsmu.ru', target='_blank') www.lenspecsmu.ru

      .partners-item
        .row
          .col-sm-5
            .partners-logo.partners-logo-blue
              a(href='http://www.vest-company.com', target='_blank')
                img.img-responsive.partners-img(src='img/logo-vest-company.png')
          .col-sm-7.partners-caption
            | ООО «ВЭСТ»
            br
            a(href='http://www.vest-company.com', target='_blank') www.vest-company.com

      .partners-item
        .row
          .col-sm-5
            .partners-logo
              a(href='http://www.streetgeo.org', target='_blank')
                img.img-responsive.partners-img(src='img/logo-streetgeo.png')
          .col-sm-7.partners-caption
            | ООО «СтритГео»
            br
            a(href='http://www.streetgeo.org', target='_blank') www.streetgeo.org
