extend _template

block title
  title Услуги

block content
  .content
    h1 Услуги

    h3.text-center Проектирование объектов электроснабжения
    br
    ul.content-list
      li Проведение инженерно-геодезических, инженерно-геологических, инженерно-экологических изысканий;
      li Проектирование подстанций напряжением 6(10)/0,4, 110/35кВ;
      li Проектирование воздушных и кабельных линий электропередачи напряжением 0,4-6(10), 35-110кВ;
      li Проектирование силового электрооборудования;
      li Проектирование наружного электроосвещения;
      li
        | Проведение комплекса работ по созданию автоматизированных систем учета и контроля расхода электроэнергии при
        | производстве, распределении и потреблении электроэнергии.

    h3.text-center Строительно-монтажные работы
    br
    ul.content-list
      li Устройство сетей электроснабжения напряжением 0,4-6(10), 35-110кВ;
      li Строительство и реконструкция трансформаторных подстанций напряжением 6(10)/0,4, 110/35кВ;
      li Строительство и реконструкция воздушных и кабельных линий электропередачи напряжением 0,4-6(10), 35-110кВ;
      li Установка распределительных устройств, коммутационной аппаратуры, устройств защиты;
      li Устройство сетей наружного освещения;
      li Устройство внутренних инженерных систем и оборудования зданий и сооружений;
      li Пусконаладочные работы.

    h3.text-center Поставка материалов и оборудования
    br
    ul.content-list
      li Материалы и оборудование для систем электроснабжения 0,4-6(10), 35-110кВ;
      li Распределительные устройства напряжением до 1кВ;
      li Распределительные устройства и трансформаторные подстанции напряжением выше 1кВ (6(10)кВ);
      li Низковольтное электрооборудование;
      li Электрооборудование на среднее напряжение;
      li Шинопроводы для питания и распределения электроэнергии;
      li Кабеленесущие системы, лотки, короба;
      li Системы управления освещением;
      li Заземление и молниезащита объекта;
      li Кабельная продукция 0,4-110кВ;
      li Кабельные аксессуары;
      li Опоры железобетонные и деревянные;
      li Провода СИП;
      li Арматура для СИП.

    p.text-center
      i
        | Полный перечень материалов и оборудования предоставляется по запросу.
        | Заявку можно оставить по телефону или e-mail, указанных в разделе
        a(href='/contacts.html')
          |  “Контакты”
        | .