extend _template

block title
  title Услуги

block content
  .content
    h1 Услуги

    img.img-responsive.img-lap(src='img/services-01.jpg')
    img.img-responsive.img-lap(src='img/services-02.jpg')

    ul.content-list
      li разрабатываем проектную документацию;
      li строим и монтируем сети электроснабжения 0,4 – 35 кВ;
      li строим линии электроосвещения;
      li монтируем и запускаем электротехнические установки;
      li прокладываем КЛ-0,4-10кВ;
      li строим и собираем МТП, СТП, КТП, БКТП, БРТП;
      li строим ТП, РТП 6(10)/0,4 кВ;
      li устанавливаем опоры ЛЭП;

    p
      | В нашей лаборатории мы:
    ul.content-list
      li измеряем сопротивления изоляции;
      li измеряем сопротивления заземляющих устройств;
      li проверяем непрерывность защитных проводников;
      li проверяем цепь «фаза-ноль»;
      li проверяем работы УЗО;
      li проверяем срабатывания автоматических выключателей и устройств релейной защиты;
      li измеряем освещенность;
      li высоковольтные испытания оборудования подстанций 6(10) кВ
      li определяем места повреждения кабельных линий 0,4-6(10) кВ.

    p.text-center
      i
        | Стоимость и сроки реализации уточняйте у менеджеров по телефону
      a(href='tel:#{phoneLink}')
        |  #{phoneNumber}
      i
        |  или электронной почте -
      a(href='mailto:#{mainEmail}')
        |  #{mainEmail}
